.highcharts {
  @mixin theme-contrast {
    .line-chart__view--theme--contrast & {
      @content
    }
  }

  &-container  {
    position: absolute !important;
    left: auto !important;
    overflow: visible !important;
    right: 0;
  }

  &-background {
    fill: transparent;
  }

  &-area {
    fill: url('#gradient-highcharts');

    @include respond-to(medium) {
      fill: transparent;
    }
  }

  &-graph {
    stroke: #008bff;
    stroke-width: 2px;
    transition: stroke .1s ease-in;

    @include respond-to(medium) {
      stroke: $blue-400;
    }
  }

  &-halo {
    stroke-width: 30px;
    stroke: rgba($darkest, .05);
  }

  &-markers path:not(.highcharts-halo):not(.highcharts-point):not(.highcharts-custom-crosshair) {
    fill: $green-contrast;
    stroke-width: 5;
    stroke: $lightest;
  }

  &-axis-labels {
    color: $blue-100;
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 7px;
    display: inline-block;
  }

  &-axis-line {
    stroke: none;
  }

  &-tick {
    fill: transparent;
    stroke-width: 0px;
  }

  &-reset-zoom {
    display: none;
  }

  &-root:not(:root) {
    overflow: visible;
  }

  &-tooltip>span {
    background-color: rgb(0, 139, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 10px 6px;
  }

  &-tooltip span {
    color: $lightest;
    font-size: 14px;
    // line-height: 1;
    font-family: $ff-sans;
  }

  &-tooltip--highlight {
    font-weight: bold;
  }

  &-custom-crosshair {
    stroke: rgb(0, 139, 255);
    stroke-width: 2px;
  }
}
