.icon {
  position: relative;

  @mixin fill($names) {
    @each $name in $names {
      &__#{$name} use {
        @content;
      }
    }
  }

  @include fill(burger) {
    fill: url('#gradient-contrast-green');
  };

  @include fill(bar-chart coin escolation shield arrow-short) {
    fill: $lightest;
  };

  @include fill(git fb tw ggl in) {
    fill: url('#gradient-contrast-blue-400');


    &:last-child {
      fill: rgb(192, 199, 219);
      opacity: 1;
      transition: opacity .1s ease-in;

      .socials__link:hover & {
        opacity: 0;
      }
    }
  };

  &__trapezoid {
    width: auto;
    height: auto;
    font-size: 0;
  }

  &__weights {
    & .test {
      fill: yellow;
    }
  }

}
