.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

@mixin get-em-width($width, $height) {
	width: ($width / $height)+em;
}

.icon__arrow {
	font-size: 18px;
	@include get-em-width(12, 18);
}

.icon__arrow-short {
	font-size: 5px;
	@include get-em-width(8, 5);
}

.icon__bar-chart {
	font-size: 80px;
	@include get-em-width(90, 80);
}

.icon__burger {
	font-size: 19px;
	@include get-em-width(32, 19);
}

.icon__coin {
	font-size: 80px;
	@include get-em-width(90, 80);
}

.icon__escolation {
	font-size: 80px;
	@include get-em-width(90, 80);
}

.icon__fb {
	font-size: 32px;
	@include get-em-width(32, 32);
}

.icon__ggl {
	font-size: 32px;
	@include get-em-width(32, 32);
}

.icon__git {
	font-size: 32px;
	@include get-em-width(32, 32);
}

.icon__in {
	font-size: 32px;
	@include get-em-width(32, 32);
}

.icon__shield {
	font-size: 80px;
	@include get-em-width(90, 80);
}

.icon__trapezoid {
	font-size: 270px;
	@include get-em-width(370, 270);
}

.icon__tw {
	font-size: 32px;
	@include get-em-width(32, 32);
}

