.facts-box {
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__content {
    position: relative;
    bottom: calc(-50% + 10px);

    width: 100%;
    max-width: 945px;
    padding: 58px 95px 48px;

    border-radius: 8px;
    background-color: #f7f8f9;
  }

  &__text {
    color: rgba($midnight-express,0.9);
    line-height: 2.13;
  }

  &__paragraph {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
