.header {
  @include gradient-dark-blue();

  @include respond-to(medium) {
    background-image: none;
  }

  &__logo {
    width: 100%;
    display: block;
  }

  &__navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__toggler {
    padding: 0;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    @include respond-to(medium) {
      display: flex;
      justify-content: flex-end;
      flex-flow: row nowrap;
      width: 100%;
    }

    &-item {
      @include respond-to(medium) {
        margin-left: 30px;
      }
    }
  }

  &__link {
    color: $lightest;

    @include respond-to(medium) {
      color: $blue-100;
    }
  }
}
