.scale {
  position: relative;
  z-index: 0;

  box-sizing: content-box;
  width: 100%;
  margin-top: 0;

  &-devider {
    position: absolute;
    top: 0;
    height: calc(100% + 14px);
    left: 0;
    display: flex;
    flex-flow: row nowrap;

    width: 100%;

    &__item {
      position: relative;
      z-index: 1;

      display: block;
      flex: 1 1 auto;

      height: 100%;

      &:not(:last-child):after {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 1px;
        height: 8px;

        content: '';
        transform: translateY(-50%);

        background-color: #8ca8c3;
      }
    }
  }

  &__progress {
    position: relative;
    z-index: 1;
    bottom: 0;

    display: block;
    order: 100;

    width: 100%;
    height: 10px;
    margin-bottom: 0;

    transition: width .2s ease-in;

    border-radius: 5px;
    background-image: gradient-contrast-green($angle: 268deg);

    font-size: 0;
  }

  &__data {
    left: 0;

    color: $blue-400;

    font-size: $fz-md;
    font-weight: bold;
  }

  &__name {
    order: -1;

    width: 100%;

    font-size: $fz-md;
    font-weight: normal;
  }

  &__start, &__end {
    width: 50%;
    margin-bottom: 5px;
    display: none;

    @include respond-to(tablet){
      display: block;
    }
  }

  &__end {
    text-align: right;
  }

  &__earned {
    position: absolute;
    z-index: 0;
    right: -29px;
    bottom: 32px;
    left: auto;

    min-width: 135px;
    max-width: 250px;
    padding: 6px 15px;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: transparent;

    font-size: 14px;
    font-weight: bold;
    line-height: 2;

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';
      transform: skew(-8deg, 0);

      border-radius: 4px;
      // background-color: $blue-400;
      background-color: $blue-contrast-200;
    }

    &:after {
      content: ' ' attr(data-postfix);
    }

    &-arrow {
      position: absolute;
      right: 25px;
      bottom: -6px;

      content: "";

      border-width: .4rem .4rem 0;
      border-style: solid;
      border-color: transparent;
      // border-top-color: $blue-400;
      border-top-color: $blue-contrast-200;
    }
  }

  &__bar {
    position: relative;
    z-index: 0;
    bottom: 0;

    display: flex;
    flex-flow: row wrap;

    margin-bottom: 0;

    font-size: 0;

    &:before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 10px;

      content: '';

      border-radius: 5px;
      background-color: $light-200;
    }
  }

  &--theme--dark {
    .scale {
      &__progress {
        background-image: gradient-contrast-blue-400($angle: 93deg);
      }

      &__earned {
        &:before { background-color: $blue-400; }

        &-arrow { border-top-color: $blue-400; }
      }
    }
  }
}
