.tge {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 215px;

  @include respond-to(large) {
    min-width: 265px;
  }

  @mixin left-group() {
    .tge__data-group--left & {
      @content;
    }
  }

  @mixin right-group() {
    .tge__data-group--right & {
      @content;
    }
  }

  &__text {
    margin-bottom: 5px;
    text-align: left;
  }

  &__data {
    display: inline-flex;
    flex-flow: row nowrap;
    border-radius: 6px;
    border: solid 1px $blue-contrast-300;
    margin: 0;

    &-group {
      padding: 10px 10px;
      display: flex;
      flex-flow: column nowrap;
      text-align: left;

      &--left {
        justify-content: space-between;
        padding-right: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-image: gradient-contrast-green();

        @include respond-to(large) {
          min-width: 90px;
        }
      }

      &--right {
        padding-left: 24px;
        padding-right: 25px;

        margin: auto;

      }
    }

    &-heading {
      font-weight: 400;

      @include left-group() {
        color: $lightest;
      }

      @include right-group() {
        text-align: center;
      }
    }

    &-value {
      font-weight: bold;
      margin: 0;

      @include left-group() {
        color: $lightest;
      }

      @include right-group() {
        text-align: center;
      }

      &--price {
        font-size: $fz-lg;
        line-height: 1;
      }
    }
  }

  &.jumbo__tge {
    @include respond-to(tablet) {
      text-align: right;

      & .tge {

      }
    }
  }
}
