body {
  min-width: 320px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.accordion__body {
  &.collapse {
    display: none;
  }

  &.collapse.show {
    display: block;
  }
}

.container {
  max-width: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: 750px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 970px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 1170px;
  }
}
