body {
  min-width: 320px;
}

.container {
  max-width: 100%;

  @media(max-width: 789px) {
    padding-right: 1px;
    padding-left: 1px;
  }

  @media (min-width: 790px) {
    max-width: 750px;
  }

  @media (min-width: 990px) {
    max-width: 970px;
  }

  @media (min-width: 1205px) {
    max-width: 1170px;
  }
}
