$breakpoint-sm: 780px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1210px;

@import './variables/pallet.scss';
@import './variables/breakpoints.scss';

$ff-play: 'Play', sans-serif;
$ff-sans: 'Open Sans', sans-serif;
$ff-promto: 'Open Sans', sans-serif;

$fz-xl: 36px;
$fz-lg: 26px;
$fz-md: 16px;
$fz-sm: 14px;

$block-p-lg: 60px;
$block-p-md: 40px;
$block-p-sm: 20px;
$block-p-xs: 10px;

$flow-m-lg: 25px;
$flow-m-md: 20px;
$flow-m-sm: 15px;
$flow-m-xs: 10px;
