@import './variables.scss';
@import 'bootfix.scss';
@import './svg-sprite/base.scss';

body {
  background-color: $lightest;
}

.body--overflow--hidden {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heading-1 {
  text-transform: capitalize;

  color: $lightest;

  font-family: $ff-play;
  font-size: $fz-xl;
  font-weight: bold;
  line-height: 1.17;

  @include respond-to(tablet) {
    font-size: $fz-xl * 1.66;
    line-height: 1.45;
  }

  @include respond-to(large) {
    font-size: $fz-xl * 2;
    line-height: 1.26;
  }
}

.heading-2 {
  font-family: $ff-sans;
  font-size: $fz-lg;
  font-weight: bold;
  text-align: left;
  color: $blue-dark-300;
  line-height: 1.3;

  @include respond-to(tablet) {
    font-size: $fz-xl;
  };

  &--lightest {
    color: $lightest;
  }
}

.text {
  color: $blue-100;

  font-family: $ff-sans;
  font-size: $fz-md;

  &--light {
    color: $lightest;
  }

  &--dimmed {
    color: rgba($blue-dark-300, .5);

    &.text--light {
      color: rgba($lightest, .5);
    }
  }

  &--dark {
    line-height: 1.7;
    text-align: left;

    color: rgba($darkest, .45);

    @include respond-to(tablet) {
      line-height: 2.38;

      margin-bottom: $flow-m-lg * 1.75;
    }
  }

  &--highlight {
    font-family: $ff-play;
    color: $darkest;

    @include respond-to(tablet) {
      font-size: $fz-lg;
      line-height: 1.69;
    }

    &.text--light {
      color: $lightest;
    }
  }

  &--context-end {
    margin-bottom: $flow-m-lg * 3;

    @include respond-to(medium) {
      margin-bottom: $flow-m-lg * 6;
    };
  }
}

.button {
  position: relative;
  z-index: 0;

  display: inline-block;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 6px;

  &__glow {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;

    width: 92%;
    height: 35px;

    transform: translate(-50%, 7px);

    opacity: .75;
    border-radius: 100%;
    background-image: gradient-contrast-green($angle: 262deg);

    filter: blur(11.8px);
  }

  &__text {
    position: relative;
    z-index: 0;

    display: inline-block;

    width: 100%;
    min-width: 262px;
    height: 100%;
    padding: 24px 35px 24px;

    color: $blue-100;
    border-radius: 6px;
    background-image: gradient-contrast-green($angle: 77deg);

    font-size: 12px;
    font-weight: 600;
    line-height: 1;

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';
      transition: opacity .1s ease-in;

      opacity: 1;
      border-radius: 6px;
      background-image: gradient-contrast-green($angle: 257deg);
    }

    &:hover {
      text-decoration: none;

      color: $lightest;

      &:before {
        opacity: 0;
      }

      & ~ .button__glow {
        background-image: gradient-contrast-blue-400($angle: 82deg);
      }
    }
  }

  &--state {
    &--close {
      & .button__text {
        color: $lightest;
        background-image: gradient-contrast-blue-400($angle: 77deg);

        &:before {
          background-image: gradient-contrast-blue-400($angle: 257deg);
        }


        &:hover {
          & ~ .button__glow {
            background-image: gradient-contrast-blue-400($angle: 82deg);
          }
        }
      }

      & .button__glow {
        background-image: gradient-contrast-blue-400($angle: 262deg);
      }
    }
  }
}

//blocks
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/eray.scss';
@import './blocks/tge.scss';
@import './blocks/diagramm.scss';
@import './blocks/line-chart.scss';
@import './blocks/socials.scss';
@import './blocks/copyright.scss';
@import './blocks/aspect.scss';
@import './blocks/scale.scss';
@import './blocks/accordion.scss';
@import './blocks/events.scss';
@import './blocks/etherscan.scss';
@import './blocks/piechart.scss';
@import './blocks/tooltip.scss';
@import './blocks/tooltip-targets.scss';

//pages
@import './pages/index/base.scss';

@import './logic.scss';

// config
@import './config/highchart.scss';
