.faq {
  background-image:
    url('../assets/imgs/bg-faq-mobile-color.png'),
    gradient-dark-blue($angle: 202deg, $percent2: 100%);
  background-repeat: no-repeat;
  background-size: 750px, 100%;
  background-position-x: right, 0;
  background-position-y: bottom, center;
  padding-top: $block-p-lg * 1.5;
  padding-bottom: $block-p-lg * 1.5;

  @media(min-width: 750px) {
    background-size: 100%, 100%;
  }


  @include respond-to(tablet) {
    padding-top: $block-p-lg * 2;
    padding-bottom: $block-p-lg * 2;

    background-image:
      url('../assets/imgs/bg-faq-tablet-color.png'),
      gradient-dark-blue($angle: 202deg, $percent2: 100%);

      background-size: 1000px, 100%;
      background-position-x: center, 0;
      background-position-y: bottom, center;
  }

  @include respond-to(medium) {
    background-image:
      url('../assets/imgs/bg-faq-color.png'),
      gradient-dark-blue($angle: 202deg, $percent2: 100%);

      background-size: 1500px, 100%;
      background-position-x: left, 0;
      background-position-y: bottom, center;
  }

  @include respond-to(large) {
    padding-bottom: $block-p-lg * 2.25;
  }

  @media(min-width: 1500px) {
    background-image:
      linear-gradient(250deg, $blue-200 20%, rgba($blue-200, 0) 60%),
      url('../assets/imgs/bg-faq-color.png'),
      gradient-dark-blue($angle: 202deg, $percent2: 100%);

      background-size: 100%, 1500px, 100%;
      background-position-x: right, left, 0;
      background-position-y: center, bottom, center;
  }

  &__heading {
    font-family: $ff-sans;
    font-size: $fz-xl * 1.08;
    font-weight: bold;
    text-align: left;
    color: $lightest;
    margin-bottom: $flow-m-xs;

    @include respond-to(medium) {
      margin-bottom: $flow-m-lg * 3;
    }
  }

  &__descr {
    line-height: 1.75;
    margin-bottom: $flow-m-xs;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 1.75;
    }

    @include respond-to(medium) {
      margin-top: 18px;
    }
  }

  &__list {
    margin-bottom: $flow-m-lg * 3;
  }

  &__pair {
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;

    @include respond-to(tablet) {
      margin-right: 0;
      margin-left: 0;
    }


    &-content  {
      margin-bottom: 0;
    }

    &-heading {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;

      border-top: solid 1px $blue-contrast-300;
      padding: 10px 55px 10px 15px;
      background-color: $blue-100;

      &-text {
        font-size: $fz-md;
        color: $blue-contrast-300;
        font-weight: bold;
        text-align: left;
      }

      @include respond-to(tablet) {
        padding: 18px 55px 16px 25px;

        border-left: solid 1px $blue-contrast-300;
        border-right: solid 1px $blue-contrast-300;

        .faq__pair:first-child & {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }


      .faq__pair:last-child & {
        border-bottom: solid 1px $blue-contrast-300;

        @include respond-to(tablet) {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &[aria-expanded="true"] {
          border-radius: 0;
          border-bottom: none;
        }
      }

      &:hover {

      }

      &[aria-expanded="true"] {
        background-color: $lightest;
        border-color: transparent;
        padding-bottom: 0;

        @include respond-to(tablet){
          padding-top: 30px;
          padding-bottom: 15px;
        }

        & .faq__pair-heading-text {
          font-size: $fz-lg;
          color: $blue-100;
        }
      }

    }
  }



  &__answer {
    padding: 10px 15px;
    padding-top: 0;
    background-color: $lightest;
    color: $blue-dark-300;
    line-height: 1.75;
    margin-bottom: 0;
    text-align: justify;

    @include respond-to(tablet) {
      padding: 0px 25px 35px;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;

    display: inline-block;

    width: 30px;
    height: 30px;


    text-align: center;
    vertical-align: middle;

    border-radius: 100%;
    background-image: gradient-contrast-blue-400($angle: 135deg);

    @include respond-to(tablet) {
      top: 15px;
    }

    .faq__pair-heading[aria-expanded="true"] & {
      background-image: gradient-contrast-green($angle: 225deg);

      top: 20px;
      transform: rotate(180deg);

      @include respond-to(tablet) {
        top: 37px;
      }
    }


    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      border-radius: 100%;
      background-image: gradient-contrast-blue-400($angle: 225deg);
      opacity: 1;
      transition: opacity .1s ease-in;

      .faq__pair-heading:hover & {
        opacity: 0;
      }

      .faq__pair-heading[aria-expanded="true"] & {
        background-image: gradient-contrast-green($angle: 135deg);
      }
    }
  }
}
