.features {
  background-image: linear-gradient(-180deg, transparent 0%, rgba(11,128,235,.5) 62%),
    url('../assets/imgs/bg-features-mobile-color.png'),
    gradient-contrast-blue-400($angle: 190deg);
  background-repeat: no-repeat;
  background-position: center bottom, center bottom -180px, center center;
  background-size: 100% 433px, 750px, 100%;

  padding-top: $block-p-lg;
  padding-bottom: $block-p-lg;

  &--state--open {
    background-image: linear-gradient(-180deg, transparent 0%, rgba(11,128,235,.9) 62%),
      url('../assets/imgs/bg-features-mobile-color.png'),
      gradient-contrast-blue-400($angle: 190deg);
    background-repeat: no-repeat;
    background-position: center bottom, center bottom, center center;
    background-size: 100% 433px, 750px, 100%;
  }

  @include respond-to(tablet) {
    padding-top: $block-p-lg * 2;
    padding-bottom: $block-p-lg * 2;

    background-image:
      linear-gradient(-180deg, rgba(0,198,255,0.00) 0%, rgba(11,128,235,0.5) 62%),
      url('../assets/imgs/bg-features-tablet-color.png'),
      gradient-contrast-blue-400($angle: 219deg);
    background-position: center bottom, center bottom -30%, center center;
    background-size: 100% 433px, 1000px, 100%;

    &--state--open {
      background-image: linear-gradient(-180deg, transparent 0%, rgba(11,128,235,.9) 62%),
        url('../assets/imgs/bg-features-tablet-color.png'),
        gradient-contrast-blue-400($angle: 219deg);

      background-position: center bottom, center bottom, center center;
    }
  }

  @include respond-to(medium) {
    background-image:
      linear-gradient(-180deg, rgba(0,198,255,0.00) 0%, rgba(11,128,235,0.5) 62%),
      url('../assets/imgs/bg-features-color.png'),
      gradient-contrast-blue-400($angle: 219deg);
    background-position: center bottom, center bottom -450px, center center;
    background-size: 100% 433px, 1500px, 100%;


    &--state--open {
      background-image: linear-gradient(-180deg, transparent 0%, rgba(11,128,235,.9) 62%),
        url('../assets/imgs/bg-features-color.png'),
        gradient-contrast-blue-400($angle: 219deg);

      background-position: center bottom, center bottom -100px, center center;
      background-size: 100% 600px, 1500px, 100%;
    }
  }

  @include respond-to(large) {
    background-image:
      linear-gradient(39deg, $blue-400 200px, transparent 600px),
      linear-gradient(309deg, rgb(9, 140, 239) 200px, transparent 600px),
      linear-gradient(-180deg, rgba(0,198,255,0.00) 0%, rgba(11,128,235,0.5) 62%),
      url('../assets/imgs/bg-features-color.png'),
      gradient-contrast-blue-400($angle: 219deg);

    background-position: center left, center right, center bottom, center bottom -375px, center center;
    background-size: 1500px 100%, 1500px 100%, 100% 433px, 1500px, 100%;

    &--state--open {
      background-image: linear-gradient(75deg, rgb(20, 73, 219) 200px, transparent 700px),
        linear-gradient(280deg, rgb(9, 140, 239) 200px, transparent 600px),
        linear-gradient(-180deg, rgba(0,198,255,0.00) 0%, rgba(11,128,235,0.9) 62%),
        url('../assets/imgs/bg-features-color.png'),
        gradient-contrast-blue-400($angle: 219deg);

      background-position: center left, center right, center bottom, center bottom -100px, center center;
      background-size: 1500px  100%, 1500px 100%, 100% 600px, 1500px, 100%;
    }
  }

  &__heading {
    margin-bottom: $flow-m-lg;
    font-size: $fz-xl * 1.11;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 2;
    }
  }

  &__icon {
    margin-bottom: $flow-m-sm;
    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 1.2;
    }
  }

  &__text {
    line-height: 1.7;
    margin-bottom: 0;
    opacity: .9;

    &--spread {
      &--lg {
        line-height: 2.38;
      }
    }

    &--wideness {
      &--narrow {
        @include respond-to(large) {
          max-width: 790px;
        }
      }
    }

    &--position {
      &--left {
        max-width: 200px;
        opacity: 1;
      }
    }

    &--color {
      &--dark {
        color: $sapphire-light;
      }
    }

    &--spacing {
      &--narrow {
        @include respond-to(large) {
          letter-spacing: -0.5px;
        };
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $flow-m-lg;
    }

    &--align {
      padding-top: 2px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin: 0;
  }
}
