.features {
  background-image: url('../assets/imgs/bg-features--mobile.png'),
    linear-gradient(-180deg, transparent 0%, rgba(11,128,235,0.60) 62%),
    gradient-contrast-blue-400($angle: 190deg);
  background-repeat: no-repeat;
  background-position-x: center, center, center;
  background-position-y: bottom, bottom, center;
  background-size: 100%, 100% 433px, 100%;
  padding-top: $block-p-lg;
  padding-bottom: $block-p-lg;

  @include respond-to(tablet) {
    padding-top: $block-p-lg * 2;
    padding-bottom: $block-p-lg * 1.65;
    background-image: url('../assets/imgs/bg-features.png'),
      linear-gradient(-180deg, rgba(0,198,255,0.00) 0%, rgba(11,128,235,0.60) 62%),
      gradient-contrast-blue-400($angle: 219deg);
    background-position-y: 134%, bottom, center;
    background-position-x: 77%, center, center;
    background-size: 149%, 100% 433px, 100%;
  }

  @include respond-to(medium) {
    background-position-y: 103%, bottom, center;
    background-position-x: 49%, center, center;
    background-size: 125%, 100% 433px, 100%;
  }

  @include respond-to(large) {
    background-size: 100%, 100% 402px, 100%;
  }

  &__heading {
    margin-bottom: $flow-m-lg;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 3;
    }
  }

  &__icon {
    margin-bottom: $flow-m-sm;
    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 1.2;
    }
  }

  &__text {
    line-height: 1.75;

    &--spread {
      &--lg {
        line-height: 2.38;
      }
    }

    &--spacing {
      &--narrow {
        @include respond-to(large) {
          letter-spacing: -0.5px;
        };
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $flow-m-lg;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin-bottom: $flow-m-lg;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-xs;
    }

    @include respond-to(medium) {
      margin-bottom: $flow-m-md;
    }

    @include respond-to(large) {
      margin-bottom: $flow-m-lg * 3;
    }
  }

  & .text--context-end {
    margin-bottom: $flow-m-lg * 2;

    // @include respond-to(medium) {
    //   margin-bottom: $flow-m-lg * 2;
    // }
  }
}
