.idea {
  padding-top: $block-p-lg * 2.3;
  padding-bottom: $block-p-lg * 2.3;

  &--burnt-tokens {
    & .idea {
      &__heading {
        font-size: 40px;
      }
    }
  }

  &__paragraph {
    position: relative;

    margin-bottom: $flow-m-lg * 3.28;
  }

  &__bg {
    background-color: $light-000;
  }

  &__heading {
    margin-bottom: $flow-m-lg * 1.8;
  }

  &__text {
    &:not(last-child) {
      margin-bottom: $flow-m-lg * 1.2;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--highlight {
      color: $midnight-express;
    }
  }

  &__block {
    &--position {
      &--left {
        margin-bottom: $flow-m-lg * 2;

        @include respond-to(medium) {
          margin-bottom: 0;
        }
      }

      &--right {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;

        @include respond-to(medium) {
          justify-content: flex-end;
        }
      }
    }
  }

  &__laptop-icon {
    width: 100%;
    max-width: 532px;
    height: auto;
    padding-top: 25px;
  }

  &__connection-icon {
    width: 100%;
    max-width: 472px;
    height: auto;
    padding-top: 65px;
  }

  &__btn-more {
    position: absolute;
    right: 0;
    bottom: -15px;
  }
}
