.main-info {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: relative;

  @include respond-to(medium) {
    // margin-top: 60px;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;

  }

  @include respond-to(large) {
    // margin-top: 60px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  &__bg {
    position: relative;
    z-index: 0;

    .header--behavior--mobile-menu ~ & {
      margin-top: 59px;
      
      @include respond-to(tablet) {
        margin-top: 96px;
      }
    }

    @include respond-to(medium) {
      margin-top: 0;
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        top: -100px;
        left: 0;

        background-image: url('../assets/imgs/bg-main-triangle-left.svg');
        background-repeat: no-repeat;
        background-position: top left;
        z-index: -1;
      }

      &:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;

        background-image: url('../assets/imgs/bg-main-triangle-right.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1;
      }
    }

    @include respond-to(large) {
      &:before {
        background-image: url('../assets/imgs/bg-main-triangle-left--lg.svg');
      }

      &:after {
        background-image: url('../assets/imgs/bg-main-triangle-right--lg.svg');
      }
    }
  }

  &__block {
    padding-right: 15px;
    padding-left: 15px;

    @include respond-to(medium) {
      width: 50%;
    }

    &-content {
      @include respond-to(tablet) {
        max-width: 750px;
        margin: auto;
        padding-right: 16px;
        padding-left: 16px;
      }

      @include respond-to(medium) {
        padding-right: 0;
        padding-left: 0;

        &.infographic {
          max-width: none;
        }
      }
    }
  }

}

@import '../../animations/main-info.scss';
