.requirement {
  padding-top: $block-p-lg;
  padding-bottom: $block-p-lg;
  background-image: url('../assets/imgs/bg-requirement.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-y: bottom -30px;

  @include respond-to(tablet) {
    padding-top: $block-p-lg * 4.3;
    padding-bottom: $block-p-lg * 2.67;
    background-size: 1116px;
  }

  &__text {
    &--highlight {
      color: $deep-sky-blue;
    }
  }

  &__paragraph {
    margin-bottom: $flow-m-lg * 1.4;
  }

  &__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: opacity .2s ease-in;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }
}
