.solving-issues {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    &:nth-child(n + 1) {
      margin-top: $flow-m-lg;
    }

    @include respond-to(tablet) {
      &:nth-child(n + 1) {
        margin-top: $flow-m-lg * 1.5;
      }
    }

    @include respond-to(medium) {
      &:nth-child(n + 4) {
        margin-top: $flow-m-lg * 2;
      }
    }

    @include respond-to(large) {
      &:nth-child(n + 4) {
        margin-top: $flow-m-lg * 2.48;
      }
    }

    &-icon {
      position: relative;
      top: -2px;
      left: 2px;

      font-size: 7px;

      & use {
        fill: $persian-blue;
      }
    }
  }


  &__icon {
    margin-bottom: $flow-m-sm * 1.13;
    height: 161px;
    object-fit: contain;
    object-position: center bottom;
  }

  &__text {
    line-height: 1.75;
    width: auto;
    margin-bottom: 0;
    color: $midnight-express;
    position: relative;
  }
}
