.terms {
  padding-bottom: $block-p-md;

  @include respond-to(tablet) {
    padding-top: $block-p-lg * 1.5;
    padding-bottom: $block-p-lg * 2.085;
  };

  @include respond-to(medium) {
    padding-top: $block-p-md * 1.25;
  }

  &__bg {
    position: relative;
    z-index: 0;

    &:before {
      position: absolute;
      display: none;
      content: '';
      width: 100%;
      height: 100%;
      top: -170px;
      left: 0;
      background-image: url("../assets/imgs/bg-about-us__left-side.svg");
      background-repeat: no-repeat;
      background-position: top left;
      z-index: -1;

      @include respond-to(medium) {
        display: block;
        left: -100px;
      }

      @include respond-to(large) {
        left: 0;
      }
    }

    &:after{
      position: absolute;
      display: none;
      content: '';
      width: 100%;
      height: calc(100% + 100px);
      top: -100px;
      right: 0;
      background-image: url("../assets/imgs/bg-about-us__right-side.svg");
      background-repeat: no-repeat;
      background-position: top right;
      z-index: -1;

      @include respond-to(medium) {
        display: block;
      }

      @include respond-to(large) {
        height: calc(100% + 144px);
        top: -144px;
      }
    }
  }

  &__text {

  }

  &__heading {
    margin-bottom: $flow-m-md;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 2;
    }
  }

  &__aspects {
    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 1.5;
    };
  }

  &__piecharts {
    overflow-x: scroll;
    margin-left: -15px;
    margin-right: -15px;

    @include respond-to(tablet) {
      overflow-x: auto;
      margin-left: 0;
      margin-right: 0;
    }

    &-block {
      min-width: 755px;
      padding-bottom: 20px;
      padding-left: 15px;

      @include respond-to(tablet) {
        min-width: auto;
        padding-bottom: 0;
        padding-left: 0;
      }
    }
  }
}
