.tge-info {
  padding-top: $block-p-lg * 1.5;
  padding-bottom: $block-p-lg * 0.9;

  @include respond-to(tablet) {
    padding-top: $block-p-lg * 2;
    padding-bottom: $block-p-lg;
  }
  @include respond-to(medium) {
    padding-top: $block-p-lg * 2.1;
    padding-bottom: $block-p-lg;
  }

  &__heading {
    margin-bottom: $flow-m-lg * 1.5;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 2.75;
    }
  }

  &__text {
    margin-bottom: $flow-m-lg * 3.25;

    color: $dark-100;

    @include respond-to(tablet) {
      margin-bottom: $flow-m-lg * 3;
    }
    @include respond-to(medium) {
      margin-bottom: 0;

      line-height: 1.75;
    };

    &--highlight {
      margin-bottom: 0;

      color: $blue-dark-300;

      font-weight: bold;
    }
  }

  &__block {
    margin-bottom: $flow-m-lg * 2;

    @include respond-to(medium) {
      margin-bottom: $flow-m-lg * 3;
      &:last-child {
        margin-bottom: $flow-m-lg;
      }
    }
    @include respond-to(large) {
      margin-bottom: $flow-m-lg * 3.75;
      &:last-child {
        margin-bottom: $flow-m-lg * 2;
      }
    }
  }
}
