.jumbo {
  @keyframes width-shrink-md {
    from {
      width: 50%;
      right: 0;
    }

    to {
      width: 0%;
      right: 0;
    }
  }

  @keyframes width-shrink-lg {
    from {
      width: 50%;
      right: 0;
    }

    to {
      width: 0%;
      right: 0;
    }
  }

  @keyframes width-shrink-xl {
    from {
      width: 50%;
      right: 0;
    }

    to {
      width: 0%;
      right: calc((100vh - 1170px) / -2.5);
    }
  }

  @keyframes button-rotation {
    from {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @include respond-to(medium) {
      right: 0;
      padding-right: 0;
      padding-left: 0;

    &.showing {
      animation-name: width-shrink-md;
      animation-duration: 1s;

      animation-fill-mode: forwards;

      @include respond-to(large) {
        @media (max-width: 1590px) {
          animation-name: width-shrink-lg;
        }

        animation-name: width-shrink-xl;
      }
    }

    &.shown {
      width: 0%;
      right: 0;

      @include respond-to(large) {
        @media (max-width: 1590px) {
          right: 0;
        }

        right: calc((100vh - 1170px) / -2.5);
      }
    }

    &.shown.showing {
      animation-duration: 1s;
      animation-direction: reverse;

      animation-fill-mode: forwards;
    }

    &__button {
      &.showing &-icon {
        animation-name: button-rotation;
        animation-duration: .5s;

        animation-fill-mode: forwards;
      }

      &.shown &-icon {
        transform: translate(-50%, -50%) rotate(360deg);
      }

      &.shown.showing &-icon {
        animation-duration: .5s;
        animation-direction: reverse;

        animation-fill-mode: forwards;
      }
    }
  }
}
