body {
  min-width: 320px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.container {
  max-width: 100%; }
  @media (min-width: 780px) {
    .container {
      max-width: 750px; } }
  @media (min-width: 1000px) {
    .container {
      max-width: 970px; } }
  @media (min-width: 1210px) {
    .container {
      max-width: 1170px; } }

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit; }

.icon__bar-chart {
  font-size: 80px;
  width: 1.125em; }

.icon__burger {
  font-size: 19px;
  width: 1.68421em; }

.icon__coin {
  font-size: 80px;
  width: 1.125em; }

.icon__escolation {
  font-size: 80px;
  width: 1.125em; }

.icon__fb {
  font-size: 32px;
  width: 1em; }

.icon__ggl {
  font-size: 32px;
  width: 1em; }

.icon__git {
  font-size: 32px;
  width: 1em; }

.icon__in {
  font-size: 32px;
  width: 1em; }

.icon__shield {
  font-size: 80px;
  width: 1.125em; }

.icon__tw {
  font-size: 32px;
  width: 1em; }

.icon {
  position: relative; }
  .icon__burger use {
    fill: url("#gradient-contrast-green"); }
  .icon__bar-chart use {
    fill: white; }
  .icon__coin use {
    fill: white; }
  .icon__escolation use {
    fill: white; }
  .icon__shield use {
    fill: white; }
  .icon__git use {
    fill: url("#gradient-contrast-blue-400"); }
    .icon__git use:last-child {
      fill: #c0c7db;
      opacity: 1;
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in; }
      .socials__link:hover .icon__git use:last-child {
        opacity: 0; }
  .icon__fb use {
    fill: url("#gradient-contrast-blue-400"); }
    .icon__fb use:last-child {
      fill: #c0c7db;
      opacity: 1;
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in; }
      .socials__link:hover .icon__fb use:last-child {
        opacity: 0; }
  .icon__tw use {
    fill: url("#gradient-contrast-blue-400"); }
    .icon__tw use:last-child {
      fill: #c0c7db;
      opacity: 1;
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in; }
      .socials__link:hover .icon__tw use:last-child {
        opacity: 0; }
  .icon__ggl use {
    fill: url("#gradient-contrast-blue-400"); }
    .icon__ggl use:last-child {
      fill: #c0c7db;
      opacity: 1;
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in; }
      .socials__link:hover .icon__ggl use:last-child {
        opacity: 0; }
  .icon__in use {
    fill: url("#gradient-contrast-blue-400"); }
    .icon__in use:last-child {
      fill: #c0c7db;
      opacity: 1;
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in; }
      .socials__link:hover .icon__in use:last-child {
        opacity: 0; }

body {
  background-color: white; }

.heading-1 {
  text-transform: capitalize;
  color: white;
  font-family: "Play", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17; }
  @media (min-width: 780px) {
    .heading-1 {
      font-size: 59.76px;
      line-height: 1.45; } }
  @media (min-width: 1210px) {
    .heading-1 {
      font-size: 72px;
      line-height: 1.26; } }

.heading-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #071639;
  line-height: 1.3; }
  @media (min-width: 780px) {
    .heading-2 {
      font-size: 36px; } }
  .heading-2--lightest {
    color: white; }

.text {
  color: #02206e;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  .text--light {
    color: white; }
  .text--dimmed {
    color: rgba(7, 22, 57, 0.5); }
    .text--dimmed.text--light {
      color: rgba(255, 255, 255, 0.5); }
  .text--dark {
    line-height: 1.7;
    text-align: left;
    color: rgba(0, 0, 0, 0.45); }
    @media (min-width: 780px) {
      .text--dark {
        line-height: 2.38;
        margin-bottom: 43.75px; } }
  .text--highlight {
    font-family: "Play", sans-serif;
    color: black; }
    @media (min-width: 780px) {
      .text--highlight {
        font-size: 26px;
        line-height: 1.69; } }
    .text--highlight.text--light {
      color: white; }
  .text--context-end {
    margin-bottom: 75px; }
    @media (min-width: 1000px) {
      .text--context-end {
        margin-bottom: 150px; } }

.button {
  position: relative;
  z-index: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  border: none; }
  .button__glow {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    width: 92%;
    height: 35px;
    -webkit-transform: translate(-50%, 7px);
            transform: translate(-50%, 7px);
    opacity: .75;
    border-radius: 100%;
    background-image: linear-gradient(262deg, #00b5fe 0%, #00ffdc 100%);
    -webkit-filter: blur(11.8px);
            filter: blur(11.8px); }
  .button__text {
    display: inline-block;
    width: 100%;
    min-width: 262px;
    height: 100%;
    padding: 24px 35px 24px;
    color: #02206e;
    border-radius: 6px;
    background-image: linear-gradient(257deg, #00b5fe 0%, #00ffdc 100%);
    font-size: 12px;
    font-weight: 600;
    line-height: 1; }
    .button__text:hover {
      text-decoration: none;
      color: white;
      background-image: linear-gradient(77deg, #00b5fe 0%, #00ffdc 100%); }
      .button__text:hover ~ .button__glow {
        background-image: linear-gradient(82deg, #00c6ff 0%, #1449db 100%); }
  .button--state--close .button__text {
    color: white;
    background-image: linear-gradient(257deg, #00c6ff 0%, #1449db 100%); }
    .button--state--close .button__text:hover {
      background-image: linear-gradient(77deg, #00c6ff 0%, #1449db 100%); }
      .button--state--close .button__text:hover ~ .button__glow {
        background-image: linear-gradient(82deg, #00c6ff 0%, #1449db 100%); }
  .button--state--close .button__glow {
    background-image: linear-gradient(262deg, #00c6ff 0%, #1449db 100%); }

.header {
  background-image: linear-gradient(62deg, #002685 0%, #00144f 95%);
  position: relative;
  z-index: 1; }
  @media (min-width: 1000px) {
    .header {
      background-image: none; } }
  .header__logo {
    width: 100%;
    display: block; }
    .header__logo .logo--dark {
      display: none; }
    @media (min-width: 1000px) {
      .header__logo .logo--dark {
        display: none; }
      .header__logo .logo--white {
        display: block; } }
    @media (min-width: 780px) {
      .header__logo {
        margin-top: 8px;
        margin-bottom: 8px; }
        .header__logo img {
          width: 197px;
          height: auto; } }
  .header__navbar {
    padding-top: 5px;
    padding-bottom: 5px; }
  .header__toggler {
    padding: 0; }
    .header__toggler:focus {
      outline: none; }
  .header__menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (min-width: 1000px) {
      .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        width: 100%; } }
    @media (min-width: 1000px) {
      .header__menu-item {
        margin-left: 30px; } }
  .header__link {
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1.85;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    -webkit-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in; }
    .header__link:hover {
      color: white;
      text-decoration: none; }
    .header__link:active {
      opacity: .75; }
    @media (min-width: 1000px) {
      .header__link {
        display: inline-block;
        position: relative;
        color: #02206e; }
        .header__link:after {
          content: '';
          background-image: -webkit-gradient(linear, left top, right top, from(#00b5fe), to(#00ffdc));
          background-image: linear-gradient(to right, #00b5fe 0%, #00ffdc 100%);
          position: absolute;
          width: 0;
          height: 1.25px;
          bottom: 0;
          left: 0;
          -webkit-transition: width .2s ease-in;
          transition: width .2s ease-in; }
        .header__link:hover {
          color: #02206e; }
          .header__link:hover:after {
            width: 100%;
            color: #02206e; }
        .header__link:active {
          -webkit-transform: translateY(-2px);
                  transform: translateY(-2px); }
          .header__link:active:after {
            bottom: -2px; } }

.footer {
  background-image: linear-gradient(230deg, #002685 0%, #00144f 95%);
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 780px) {
    .footer {
      padding-top: 32.5px;
      padding-bottom: 32.5px; } }
  @media (min-width: 780px) {
    .footer__copyright {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }
  @media (min-width: 780px) {
    .footer__socials {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.eray__desc {
  margin: 0; }

.eray__value {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1; }

@media (min-width: 780px) {
  .eray.jumbo__eray .eray__desc:first-child {
    margin-bottom: 25px; } }

@media (min-width: 780px) {
  .eray.infographic__eray .eray__desc:first-child {
    margin-bottom: 25px; } }
  @media (min-width: 780px) and (min-width: 1210px) {
    .eray.infographic__eray .eray__desc:first-child {
      margin-bottom: 10px; } }

@media (min-width: 1210px) {
  .eray.infographic__eray .eray__value {
    font-size: 49.86px; } }

.tge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-width: 215px; }
  @media (min-width: 1210px) {
    .tge {
      min-width: 265px; } }
  .tge__text {
    margin-bottom: 5px;
    text-align: left; }
  .tge__data {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    border-radius: 6px;
    border: solid 1px #00b5fe;
    margin: 0; }
    .tge__data-group {
      padding: 10px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      text-align: left; }
      .tge__data-group--left {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-image: linear-gradient(221deg, #00b5fe 0%, #00ffdc 100%); }
        @media (min-width: 1210px) {
          .tge__data-group--left {
            min-width: 90px; } }
      .tge__data-group--right {
        padding-left: 24px;
        padding-right: 25px;
        margin: auto; }
    .tge__data-heading {
      font-weight: 400; }
      .tge__data-group--left .tge__data-heading {
        color: white; }
      .tge__data-group--right .tge__data-heading {
        text-align: center; }
    .tge__data-value {
      font-weight: bold;
      margin: 0; }
      .tge__data-group--left .tge__data-value {
        color: white; }
      .tge__data-group--right .tge__data-value {
        text-align: center; }
      .tge__data-value--price {
        font-size: 26px;
        line-height: 1; }
  @media (min-width: 780px) {
    .tge.jumbo__tge {
      text-align: right; } }

.diagramm__timescale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none; }
  @media (min-width: 780px) {
    .diagramm__timescale {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .diagramm__timescale-item {
    text-align: center; }
    @media (min-width: 780px) {
      .diagramm__timescale-item:not(:first-child) {
        margin-left: 31px; } }
  .diagramm__timescale-btn {
    display: inline;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #02206e;
    border: none;
    background-color: transparent; }
    .diagramm__timescale-btn:focus {
      outline: none; }
    .diagramm__timescale-btn:hover {
      color: #00ff92; }
    .diagramm__timescale-btn:active {
      -webkit-transform: translateY(-1px);
              transform: translateY(-1px); }
    .diagramm__timescale-btn.active {
      font-weight: bold; }

@media (min-width: 1000px) {
  .diagramm__data--last-month-percent {
    display: none; } }

@media (min-width: 1210px) {
  .diagramm__data--last-month-percent {
    display: block; } }

@media (min-width: 780px) {
  .diagramm__data-group {
    margin-bottom: 50px; } }

@media (min-width: 1000px) {
  .diagramm__data-group {
    margin-bottom: 30px; } }

.diagramm__data-heading {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1; }

.diagramm__data-value {
  margin-bottom: 0;
  max-width: 95%;
  color: #00aaff;
  font-size: 26px;
  font-weight: bold; }
  .diagramm__data-value:after {
    content: " " attr(data-postfix); }
  .diagramm__data-value:before {
    content: attr(data-prefix); }

.line-chart {
  position: relative; }
  .line-chart:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-image: linear-gradient(221deg, #00b5fe 0%, #00ffdc 100%); }
  .line-chart__current {
    margin-bottom: 5px;
    text-align: right;
    color: rgba(2, 32, 110, 0.3);
    font-size: 14px; }
    .line-chart__current:after {
      content: " " attr(data-postfix); }
  .line-chart__view {
    margin: auto;
    width: 289px;
    height: 317px;
    background-image: url("../assets/imgs/chart-mobile.png"); }
    @media (min-width: 780px) {
      .line-chart__view {
        width: 721px;
        height: 332px;
        background-image: url("../assets/imgs/chart-tablet.png"); } }
    @media (min-width: 1000px) {
      .line-chart__view {
        width: 100%;
        height: 349px;
        background-image: url("../assets/imgs/chart-medium-short.png");
        background-size: cover; } }
  .line-chart__timescale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0;
    margin: auto;
    padding: 0;
    list-style: none; }
    .line-chart__timescale-item {
      padding-bottom: 7px;
      color: #02206e;
      font-size: 14px;
      line-height: 1.3; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  list-style: none; }
  .socials__item:not(:last-child) {
    margin-right: 10px; }
    @media (min-width: 780px) {
      .socials__item:not(:last-child) {
        margin-right: 0; } }
  @media (min-width: 780px) {
    .socials__item:not(:first-child) {
      margin-left: 20px; } }
  .socials__link {
    font-size: 0;
    display: block; }

.copyright {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

.aspects {
  list-style: none;
  padding: 0; }

.aspect:not(:last-child) {
  margin-bottom: 15px; }

.aspect__heading {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #009edd;
  line-height: 1.3;
  position: relative;
  max-width: 157px;
  margin-bottom: 10px;
  padding-bottom: 13.5px; }
  @media (min-width: 780px) {
    .aspect__heading {
      padding-bottom: 25px;
      margin-bottom: 20px; } }
  @media (min-width: 1000px) {
    .aspect__heading {
      max-width: 212px; } }
  @media (min-width: 1210px) {
    .aspect__heading {
      max-width: 263px; } }
  .aspect__heading:after {
    position: absolute;
    content: '';
    width: 157px;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#009edd), to(transparent));
    background-image: linear-gradient(to right, #009edd, transparent);
    left: 1px;
    bottom: -1px; }

.aspect__text {
  line-height: 1.75;
  width: 157px;
  margin-bottom: 0;
  color: #071639; }
  @media (min-width: 1000px) {
    .aspect__text {
      width: auto; } }

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  position: relative; }
  @media (min-width: 1000px) {
    .main-info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 100px; } }
  @media (min-width: 1210px) {
    .main-info {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto; } }
  .main-info__bg {
    position: relative;
    z-index: 0; }
    @media (min-width: 1000px) {
      .main-info__bg:before {
        position: absolute;
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        top: -100px;
        left: 0;
        background-image: url("../assets/imgs/bg-main-triangle-left.svg");
        background-repeat: no-repeat;
        background-position: top left;
        z-index: -1; }
      .main-info__bg:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        background-image: url("../assets/imgs/bg-main-triangle-right.svg");
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1; } }
    @media (min-width: 1210px) {
      .main-info__bg:before {
        background-image: url("../assets/imgs/bg-main-triangle-left--lg.svg"); }
      .main-info__bg:after {
        background-image: url("../assets/imgs/bg-main-triangle-right--lg.svg"); } }
  .main-info__block {
    padding-right: 15px;
    padding-left: 15px; }
    @media (min-width: 1000px) {
      .main-info__block {
        width: 50%; } }
    @media (min-width: 780px) {
      .main-info__block-content {
        max-width: 750px;
        margin: auto;
        padding-right: 16px;
        padding-left: 16px; } }
    @media (min-width: 1000px) {
      .main-info__block-content {
        max-width: auto;
        padding-right: 0;
        padding-left: 0; } }

.jumbo {
  background: url("../assets/imgs/bg-main--mobile.png") no-repeat, linear-gradient(221deg, #00aaff 0%, #1449db 100%);
  background-size: 320px, 100%;
  background-position-y: 155%, 100%;
  background-position-x: -18px, 0; }
  @media (min-width: 780px) {
    .jumbo {
      padding-top: 0;
      background: url("../assets/imgs/bg-main--tablet-left.png") no-repeat, url("../assets/imgs/bg-main--tablet-right.png") no-repeat, linear-gradient(221deg, #00aaff 0%, #1449db 100%);
      background-size: 624px, 548px, 100%;
      background-position-y: calc(100% - 10px), 10px, 100%;
      background-position-x: 10px, calc(100% - 10px), 0; } }
  @media (min-width: 1000px) {
    .jumbo {
      background-image: none;
      position: relative; }
      .jumbo:before {
        background: url("../assets/imgs/bg-main.png") no-repeat, linear-gradient(216deg, #00aaff 0%, #1449db 100%);
        background-size: 692px, 100%;
        background-position-y: center, 100%;
        background-position-x: calc(100% - 11px), 0;
        position: absolute;
        top: 0;
        right: 15px;
        display: block;
        width: calc(50vw - 15px);
        height: 100%;
        content: '';
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px; } }
  .jumbo__content {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 0; }
    @media (min-width: 780px) {
      .jumbo__content {
        padding-top: 170px;
        padding-bottom: 160px; } }
    @media (min-width: 1210px) {
      .jumbo__content {
        padding-top: 184px; } }
  .jumbo__heading {
    margin-bottom: 15px; }
    @media (min-width: 1210px) {
      .jumbo__heading {
        margin-bottom: 37.5px; } }
    .jumbo__heading span {
      display: block; }
      @media (min-width: 780px) {
        .jumbo__heading span {
          display: inline; } }
  .jumbo__text {
    text-align: left;
    line-height: 1.75;
    margin-bottom: 35.25px; }
    @media (min-width: 780px) {
      .jumbo__text {
        max-width: 420px;
        font-size: 26px;
        line-height: 1.5;
        margin-bottom: 90px; } }
    @media (min-width: 1000px) {
      .jumbo__text {
        max-width: 350px; } }
    @media (min-width: 1210px) {
      .jumbo__text {
        max-width: 390px; } }
  .jumbo__eray {
    margin-bottom: 15px; }
    @media (min-width: 1000px) {
      .jumbo__eray {
        display: none; } }
  .jumbo__tge {
    margin-bottom: 15px; }
    @media (min-width: 1000px) {
      .jumbo__tge {
        display: none; } }

.infographic {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 1000px) {
    .infographic {
      padding-top: 15px;
      padding-bottom: 10px; } }
  .infographic-content__tabs {
    position: relative;
    margin: 0 0 5px;
    padding: 0;
    list-style: none; }
    .infographic-content__tabs:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-image: linear-gradient(221deg, #00b5fe 0%, #00ffdc 100%); }
  .infographic-content__tab {
    padding: 0; }
    @media (min-width: 780px) {
      .infographic-content__tab:not(:last-child) {
        margin-right: 25px; } }
    .infographic-content__tab:nth-child(3n) {
      text-align: right; }
    .infographic-content__tab:nth-child(3n - 1) {
      text-align: center; }
    .infographic-content__tab-link {
      display: inline-block;
      padding-bottom: 10px;
      -webkit-transition: all .1s ease-in;
      transition: all .1s ease-in;
      color: #02206e;
      border-bottom: 5px solid transparent; }
      .infographic-content__tab-link:hover {
        text-decoration: none;
        color: #02206e;
        border-bottom: 5px solid #00ff92; }
      .infographic-content__tab-link.active {
        border-bottom: 5px solid #00ff92;
        font-weight: bold; }
        .infographic-content__tab-link.active:hover {
          color: #02206e; }
  .infographic-content__content {
    width: 100%;
    margin: auto; }
  .infographic__eray {
    margin-bottom: 20px; }
  .infographic__tge {
    margin-bottom: 40px; }
    @media (min-width: 780px) {
      .infographic__tge {
        margin-bottom: 80px; } }

.terms {
  padding-bottom: 60px; }
  @media (min-width: 780px) {
    .terms {
      padding-top: 90px; } }
  @media (min-width: 1000px) {
    .terms {
      padding-top: 50px; } }
  .terms__heading {
    margin-bottom: 20px; }
    @media (min-width: 780px) {
      .terms__heading {
        margin-bottom: 50px; } }
  @media (min-width: 780px) {
    .terms__aspects {
      margin-bottom: 37.5px; } }

.features {
  background-image: url("../assets/imgs/bg-features--mobile.png"), linear-gradient(-180deg, transparent 0%, rgba(11, 128, 235, 0.6) 62%), linear-gradient(190deg, #00c6ff 0%, #1449db 100%);
  background-repeat: no-repeat;
  background-position-x: center, center, center;
  background-position-y: bottom, bottom, center;
  background-size: 100%, 100% 433px, 100%;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 780px) {
    .features {
      padding-top: 120px;
      padding-bottom: 99px;
      background-image: url("../assets/imgs/bg-features.png"), linear-gradient(-180deg, rgba(0, 198, 255, 0) 0%, rgba(11, 128, 235, 0.6) 62%), linear-gradient(219deg, #00c6ff 0%, #1449db 100%);
      background-position-y: 134%, bottom, center;
      background-position-x: 77%, center, center;
      background-size: 149%, 100% 433px, 100%; } }
  @media (min-width: 1000px) {
    .features {
      background-position-y: 103%, bottom, center;
      background-position-x: 49%, center, center;
      background-size: 125%, 100% 433px, 100%; } }
  @media (min-width: 1210px) {
    .features {
      background-size: 100%, 100% 402px, 100%; } }
  .features__heading {
    margin-bottom: 25px; }
    @media (min-width: 780px) {
      .features__heading {
        margin-bottom: 75px; } }
  .features__icon {
    margin-bottom: 15px; }
    @media (min-width: 780px) {
      .features__icon {
        margin-bottom: 30px; } }
  .features__text {
    line-height: 1.75; }
    .features__text--spread--lg {
      line-height: 2.38; }
    @media (min-width: 1210px) {
      .features__text--spacing--narrow {
        letter-spacing: -0.5px; } }
  .features__item:not(:last-child) {
    margin-bottom: 25px; }
  .features__list {
    padding: 0;
    list-style: none;
    margin-bottom: 25px; }
    @media (min-width: 780px) {
      .features__list {
        margin-bottom: 10px; } }
    @media (min-width: 1000px) {
      .features__list {
        margin-bottom: 20px; } }
    @media (min-width: 1210px) {
      .features__list {
        margin-bottom: 75px; } }
  .features .text--context-end {
    margin-bottom: 50px; }

.brief {
  padding-top: 90px;
  padding-bottom: 40px; }
  @media (min-width: 780px) {
    .brief {
      padding-top: 120px; } }
  @media (min-width: 1000px) {
    .brief {
      padding-bottom: 75px; } }
  .brief__heading {
    margin-bottom: 15px; }
    @media (min-width: 780px) {
      .brief__heading {
        margin-bottom: 50px; } }
    @media (min-width: 1000px) {
      .brief__heading {
        font-size: 38.88px; } }
  .brief__block:not(:last-child) {
    margin-bottom: 68.75px; }
    @media (min-width: 1000px) {
      .brief__block:not(:last-child) {
        margin-bottom: 62.5px; } }
  .brief__descr {
    display: none; }
    @media (min-width: 1000px) {
      .brief__descr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 2.38;
        font-size: 16px; } }

.faq {
  background-image: linear-gradient(202deg, #002685 0%, #00144f 100%);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position-y: bottom, center;
  padding-top: 90px;
  padding-bottom: 60px; }
  @media (min-width: 780px) {
    .faq {
      padding-top: 120px; } }
  .faq__heading {
    font-family: "Open Sans", sans-serif;
    font-size: 38.88px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin-bottom: 10px; }
    @media (min-width: 1000px) {
      .faq__heading {
        margin-bottom: 75px; } }
  .faq__descr {
    line-height: 1.75;
    margin-bottom: 10px; }
    @media (min-width: 780px) {
      .faq__descr {
        margin-bottom: 43.75px; } }
    @media (min-width: 1000px) {
      .faq__descr {
        margin-top: 18px; } }
  .faq__list {
    margin-bottom: 75px; }
  .faq__pair {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px; }
    @media (min-width: 780px) {
      .faq__pair {
        margin-right: 0;
        margin-left: 0; } }
    .faq__pair-content {
      margin-bottom: 0; }
    .faq__pair-heading {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
      font-size: 16px;
      color: #00b5fe;
      font-weight: bold;
      text-align: left;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      border-top: solid 1px #00b5fe;
      padding: 10px 15px;
      background-color: #02206e; }
      @media (min-width: 780px) {
        .faq__pair-heading {
          padding: 18px 25px 16px;
          border-left: solid 1px #00b5fe;
          border-right: solid 1px #00b5fe; } }
      .faq__pair:last-child .faq__pair-heading {
        border-bottom: solid 1px #00b5fe; }
        .faq__pair:last-child .faq__pair-heading[aria-expanded="true"] {
          border-bottom: none; }
      .faq__pair:last-child .collapsing ~ .faq__pair-heading {
        border-bottom: none; }
      .faq__pair-heading[aria-expanded="true"],
      .collapsing ~ .faq__pair-heading {
        font-size: 26px;
        color: #02206e;
        background-color: white;
        border-color: transparent;
        padding-bottom: 0; }
        @media (min-width: 780px) {
          .faq__pair-heading[aria-expanded="true"],
          .collapsing ~ .faq__pair-heading {
            padding-top: 30px;
            padding-bottom: 15px; } }
  .faq__answer {
    padding: 10px 15px;
    padding-top: 0;
    background-color: white;
    color: #071639;
    line-height: 1.75;
    margin-bottom: 0;
    text-align: justify; }
    @media (min-width: 780px) {
      .faq__answer {
        padding: 0px 25px 35px; } }
